.isActive {
  padding-bottom: 4px;
  border-bottom: 2px solid #B8454A;
}

.customLink {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 50px;
}

.customLocalLink {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 50px;
}

.customSubLink {
  text-transform: uppercase;
  font-size: 13px;
}